* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
body {
  background-color: var(--bg-color);
}
:root {
  --bg-color: hsl(0, 0%, 98%);
  --second-bg: hsl(230, 15%, 15%);
  --main-color: hsl(220, 90%, 56%);
  --text-color: hsl(230, 20%, 15%);
}
